body {
    margin: 0;
    background: black;
    color: #00ff66;
    font-family: monospace;
    overflow: hidden;
}

#crt {
    height: 100vh;
    padding: 20px;
    animation: flicker 0.12s infinite;
}

/* CRT flicker */
@keyframes flicker {
    0% {
        opacity: 0.98;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.97;
    }
}

/* Scanlines */
#crt::before {
    content: "";
    position: fixed;
    inset: 0;
    background: repeating-linear-gradient( to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 1px, transparent 1px, transparent 3px );
    pointer-events: none;
}

#output {
    white-space: pre-wrap;
}

#input-line {
    display: flex;
}

.prompt {
    margin-right: 5px;
}

#command {
    background: black;
    color: #00ff66;
    border: none;
    outline: none;
    font-family: monospace;
    width: 80%;
}
